box2/.vagrant/bundler/global.sol
box2/.vagrant/machines/default/virtualbox/action_provision
box2/.vagrant/machines/default/virtualbox/action_set_name
box2/.vagrant/machines/default/virtualbox/box_meta
box2/.vagrant/machines/default/virtualbox/creator_uid
box2/.vagrant/machines/default/virtualbox/id
box2/.vagrant/machines/default/virtualbox/index_uuid
box2/.vagrant/machines/default/virtualbox/private_key
box2/.vagrant/machines/default/virtualbox/synced_folders
box2/.vagrant/machines/default/virtualbox/vagrant_cwd
box2/.vagrant/rgloader/loader.rb
box3/.vagrant/bundler/global.sol
box3/.vagrant/machines/default/virtualbox/action_provision
box3/.vagrant/machines/default/virtualbox/action_set_name
box3/.vagrant/machines/default/virtualbox/box_meta
box3/.vagrant/machines/default/virtualbox/creator_uid
box3/.vagrant/machines/default/virtualbox/id
box3/.vagrant/machines/default/virtualbox/index_uuid
box3/.vagrant/machines/default/virtualbox/private_key
box3/.vagrant/machines/default/virtualbox/synced_folders
box3/.vagrant/machines/default/virtualbox/vagrant_cwd
box3/.vagrant/rgloader/loader.rb
box4/.vagrant/bundler/global.sol
box4/.vagrant/machines/default/virtualbox/action_provision
box4/.vagrant/machines/default/virtualbox/action_set_name
box4/.vagrant/machines/default/virtualbox/box_meta
box4/.vagrant/machines/default/virtualbox/creator_uid
box4/.vagrant/machines/default/virtualbox/id
box4/.vagrant/machines/default/virtualbox/index_uuid
box4/.vagrant/machines/default/virtualbox/private_key
box4/.vagrant/machines/default/virtualbox/synced_folders
box4/.vagrant/machines/default/virtualbox/vagrant_cwd
box4/.vagrant/rgloader/loader.rb
